* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

a {
  color: #bebebf;
  text-decoration: none;
}

/* Estilizando a scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c31;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9ea0;
}
/*************/

/* Eventos para tela grande */
@keyframes entering-timeline-large {
  from {
    opacity: 0;
    overflow: visible;
    transform: translateY(-100vh);
  }
  to {
    opacity: 1;
    overflow: visible;
    transform: translateY(0);
  }
}

@keyframes entering-profile-large {
  from {
    opacity: 0;
    transform: translateY(-100vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*****************/
/* Eventos para tela pequena */
@keyframes entering-timeline-small {
  from {
    opacity: 0;
    /* overflow: visible; */
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    /* overflow: visible; */
    transform: translateX(0);
  }
}

@keyframes entering-profile-small {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/*****************/

html,
body {
  /* background-color: #121215; */
}

h1 {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main {
  display: grid;
  grid-template-areas: "profile timeline";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  color: #eaeaea;
  font-family: "Roboto", sans-serif;
  background-color: #121215;
}

/* Profile area */
aside {
  grid-area: profile;
  background-image: url("assets/background_left.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-right: 1px solid;
  border-image: linear-gradient(#727275, #2c2c31) 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside * {
  animation: entering-profile-large 1.5s ease-in-out;
}

aside .profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid transparent;
  background: linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box,
    linear-gradient(#d39e33, #ed5636, #633bbc) padding-box;
}

aside .logo {
  width: 200px;
}

aside p {
  font-size: 2rem;
  text-align: center;
}

aside p strong {
  font-size: 2.5rem;
}

aside span {
  color: #bebebf;
  font-size: 0.75rem;
}
/*********/

/* timeline area */
nav {
  grid-area: timeline;
  padding: 64px;
  overflow-y: scroll;
  animation: entering-timeline-large 1.5s ease-in-out;
  background-image: url("assets/background_right.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

nav ul {
  list-style-type: none;
}

.memory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  /* margin-bottom: 64px; */
}

.memory small {
  color: #bebebf;
  font-size: 0.75rem;
}

.memory h2 {
  font-size: 2rem;
}

.memory p {
  line-height: 25px;
  font-size: 1.5rem;
}

.memory figure {
  width: 100%;
  height: 280px;
  border-radius: 8px;
  overflow: hidden;
}

.memory img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.memory:hover img {
  transform: scale(1.1);
}
/*******/

@media (max-width: 768px) {
  :root {
    font-size: 14px;
    animation: none;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr;
    grid-template-areas: "profile" "timeline";
  }

  aside {
    grid-area: profile;
    padding: 10% 5%;
    border-right: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(#727275, #2c2c31) 1;
  }

  aside * {
    animation: entering-profile-small 1.5s ease-in-out;
  }

  nav {
    grid-area: timeline;
    padding: 5%;
    overflow-y: visible;
    animation: entering-timeline-small 1.5s ease-in-out;
  }
}
